.a2a_kit.a2a_kit_size_32.a2a_default_style
  %a.a2a_dd{ href: "https://www.addtoany.com/share" }
  %a.a2a_button_facebook
  %a.a2a_button_twitter
  %a.a2a_button_google_plus
%script{ async: true, src: "https://static.addtoany.com/menu/page.js" }
